
canvas {
  display: block;
   -moz-opacity:0.2; /* For older FF versions */
   -khtml-opacity:0.2;
   opacity:0.2;
   filter:alpha(opacity=20);
}

body {
 background:#000 url(../bg.jpg);
}

.centeredImage {
  position: fixed;
  top: 50%;
  left: 25%;
  margin-top: -50px;
  margin-left: -150px;
     -moz-opacity:0.5; /* For older FF versions */
   -khtml-opacity:0.5;
   opacity:0.5;
   filter:alpha(opacity=50);
max-width:100%;

}
